
<div class="container">
  <h1><%= @restaurant.name %></h1>
  <em>Restaurant <%= @restaurant.category %></em>
  <br>
  <br>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>

  <div class="container">
    <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    <div class="row">
      <% @restaurant.reviews.each do |review| %>
      <div class="col-xs-12 col-md-4 col-lg-3">
        <strong><%= review.rating %></strong>
        <em><%= review.content %></em>
        </div>
      <% end %>
    </div>
  </div>
</div>
